<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/post" method="POST">
      <label for="title">Titulo del post</label>
      <input name="title" id="title" type="text" />
      <label for="contents">Titulo del post</label>
      <input name="contents" id="contents" type="text" />
      <button>Enviar publicación</button>
    </form>
  </body>
</html>
