body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form > input {
  margin: 20px;
  width: 30%;
  height: 25px;
  border-radius: 10px;
  
}