container_inputs_products .container_form_addProduct {
  width: 100%;
  padding: 10px 10px;
}
.container_form_addProduct form {
  width: 100%;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 10px;
}
.container_form_addProduct h4 {
  font-weight: 700;
  font-size: 16px;
}
.container_inputs_products {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  z-index: 0;
}
.container_inputs_products input,
.container_inputs_products select {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 30px;
  border-radius: 0px;
  outline: none;
  resize: none;
  border-bottom: 1px solid #282c34;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  font-size: 14px;
  color: #282c34;
}
.container_inputs_products input::placeholder {
  color: #282c34;
}
.container_inputs_products input:focus::placeholder {
  color: transparent;
}
.container_inputs_products select::placeholder {
  color: #282c34;
}
.container_inputs_products select:focus::placeholder {
  color: transparent;
}

.container_inputs_products label {
  position: absolute;
  z-index: -1;
  top: -2px;
  left: 10px;
  color: transparent;
  transition: all 0.5s linear;
  font-size: 13px;
  pointer-events: none;
}
.container_inputs_products input:focus ~ label,
.container_inputs_products input:valid ~ label {
  top: -23px;
  color: #3f51b5;
}
.container_inputs_products input:focus,
.container_inputs_products input:valid {
  border-bottom: 1px solid #3f51b5;
}
.container_inputs_products select:focus ~ label,
.container_inputs_products select:valid ~ label {
  top: -30px;
  color: #3f51b5;
}
.container_inputs_products select:focus,
.container_inputs_products select:valid {
  border-bottom: 1px solid #3f51b5;
}

.input_submit {
  width: 50%;
  outline: none;
  border: none;
  height: 30px;
  background-color: #3f51b5;
  color: #dfe6e9;
  cursor: pointer;
}
.container_label_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
